{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<div>

    <h1>Create Task</h1>

    <form method="POST" action="" id="submit_todolist">
        {% csrf_token %}
        <table>
            <tr>
                <td>Title: </td>
                <td><input required type="text" name="title" placeholder="Enter title" class="form-control"></td>
            </tr>

            <tr>
                <td>Description: </td>
                <td><input required type="text" name="description" placeholder="Enter description" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Create"></td>
            </tr>
        </table>
    </form>

</div>

{% endblock content %}