{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  

<div class="d-flex flex-column justify-content-center align-items-center text-white" style="min-width: 20rem; min-height: 600px">
    <div><h2>Create your account!</h2></div>
    <div class="card text-white bg-dark" style="min-width: 20rem; min-height: 400px">
        <div class="d-flex flex-column justify-content-center align-items-center"  style="row-gap: 20px">
            <div class="card-header"><h1>Register Account</h1></div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                        <div><h6>Username: </h6></div>
                        <div><input type="text" name="username" placeholder="Username" class="form-control"></div>    
                        <div><h6>Password: </h6></div>
                        <div><input type="password" name="password1" placeholder="Password" class="form-control"></div>
                        <div><h6>Confirm Password: </h6></div>
                        <div><input type="password" name="password2" placeholder="Password" class="form-control"></div>
                        <div><input class="btn btn-secondary register_btn" type="submit" name="submit" value="Create"/></div>
                </form>
            </div>
        </div>
    </div>
    <div>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} 
    </div>
</div>
{% endblock content %}