{% extends 'base.html' %}

 {% block content %}

 <div class = "d-flex flex-column justify-content-center align-items-center text-white" style="min-width: 20rem; min-height: 600px; row-gap: 30px">
  <h2>Welcome! {{user.username}}</h2>
  {% for task in to_do_list %}
    {% if task.user == user %}
      <div class="card text-white bg-dark" style="min-width: 20rem; min-height: 100px">
      <table>
          <tr>
            <td>Title : </td>
            <td>{{task.title}}</td>
          </tr>
          <tr>
            <td>Description : </td>
            <td>{{task.description}}</td>
          </tr>
          <tr>
            <td>Date Added : </td>
            <td>{{task.date}}</td>
          </tr>
      </table>
      </div>
    {% endif %}
  {% endfor %}
  {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}  
  <table>
    <tr>
      <td><button type="button" class="btn btn-dark"><a href="{% url 'todolist:show_create_task' %}">Create Task</a></button></td>
      <td><button type="button" class="btn btn-dark"><a href="{% url 'todolist:show_logout' %}">Logout</a></button></td>
    </tr>
  </table>
</div>
 {% endblock content %}